@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
html{
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Libre Baskerville", serif;
    --text-color: rgb(99, 76, 0);
    font-size: 10px;
}
body{
    font-family: "Inter", sans-serif;
    /* transition: all 2s ease; */
}
a{
    text-decoration: none;
}
.bounce-top{-webkit-animation:bounce-top 2.5s both;animation:bounce-top 2.5s both}
 @-webkit-keyframes bounce-top{0%{-webkit-transform:translateY(-45px);transform:translateY(-45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(-24px);transform:translateY(-24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(-12px);transform:translateY(-12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(-6px);transform:translateY(-6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(-4px);transform:translateY(-4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}@keyframes bounce-top{0%{-webkit-transform:translateY(-45px);transform:translateY(-45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(-24px);transform:translateY(-24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(-12px);transform:translateY(-12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(-6px);transform:translateY(-6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(-4px);transform:translateY(-4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}
.container{
    max-width: 1440px;
    margin: auto;
}

.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo h2{
    font-size: 2rem;
    color: var(--text-color);
    font-weight:bold;
}
.header{
    margin: auto;
    max-width: 1280px;
    height: 100px;
    margin-top: 30px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
nav{
    display: flex;
    gap: 30px;
}
nav a{
    font-family: var(--primary-font);
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight:550;

}
.primary-btn{
    width: 150px;
    height: 50px;
    background-color: var(--text-color);
    color: white;
    border-radius: 4px;
    box-shadow: 8px 8px wheat;
    box-shadow: wheat;
    border-style: none;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--primary-font);
}
.primary-btn:hover{
    box-shadow: -8px -8px wheat;
    box-shadow: wheat;
    cursor: pointer;
}
/* Header Section End */

main{
    background-image: url(assets/image/image4.webp);
    height: 6700px;
    margin-bottom: 0px;
}

/* Hero Section Start */
.hero-section{
    margin: auto;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-basis: 50%;
    gap: 100px;
    padding: 0px 10px;
}

.hero-left{
    margin-top: 100px;
    position: relative;
}
/* .hero-right img:nth-child(1){
    width: 450px;
    height: 600px;
    background-color: wheat;
} */
.hero-left img{
    width: 470px;
    height: 550px;
    transform: rotate(-3deg);
    border-radius: 2px;
    /* box-shadow: 40px 20px wheat; */
    
}
.hero-left::after{
    content: "";
    position: absolute;
    background-color: wheat;
    width: 470px;
    height: 520px;
    border-radius: 0px 0px 10px 10px;
    left: 30px;
    top: 50px;
    transform: rotate(2deg);
    z-index: -1;
}

.hero-right{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.hero-right h3{
    margin-top: 130px;
font-family: var(--primary-font);
   font-size: 1.5rem; 
   background-color: wheat;
   display: inline;
   padding: 5px 20px;
   border-radius: 50px;
   color: var(--text-color);
   margin-bottom: 20px;
}
.hero-right h1{
    width: 300px;
    font-family: var(--primary-font);
   font-size: 8rem; 
   color: var(--text-color);
   margin-bottom: 30px;
   font-weight: 500;
}
.hero-right h1 .hero-span{
    font-family: var(--secondary-font);
    font-weight: 550;
    font-style: italic;
}
.hero-right p{
    width: 600px;
    font-size: 2.3rem; 
    color: var(--text-color);
    margin-bottom: 25px;
    font-family: var(--primary-font);
}



/* Hero Section End */





/* Celebration Section Start */

.celebration-section{
    margin: auto;
    margin-top: 150px;
    margin-bottom: 100px;
    max-width: 1000px;
    height: 350px;
    background-image: url(assets/image/about\ 2.avif);
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    transform: rotate(-1deg);
    position: relative;
    
}
.celebration-section::before{
    content: "";
    position: absolute;
    background-color: #0d4730;
    width: 1000px;
    height: 350px;
    border-radius: 15px;
    opacity: 65%;
    z-index: -1;
}
.celebration-container{
    margin: auto;
    padding: 100px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    
}
.celebration-container h3{
    font-family: var(--primary-font);
   font-size: 1.5rem; 
   background-color: wheat;
   display: inline;
   padding: 6px 15px;
   border-radius: 50px;
   color: var(--text-color);
   margin-bottom: 30px;  
}
.celebration-container p{
    font-size: 3rem; 
    font-family: var(--secondary-font);
    font-style: italic;
    color:white;
    margin-bottom: 40px;
    text-align: center;
}


/* Celebration Section end */

/* <!-- story section start --> */
.story-section{
    margin: auto;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-basis: 50%;
    gap: 100px;
    padding: 0px 10px;
}
.story-left{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.story-left h3{
   margin-top: 50px;
    font-family: var(--primary-font);
   font-size: 1.5rem; 
   background-color: wheat;
   display: inline;
   padding: 5px 20px;
   border-radius: 50px;
   color: var(--text-color);
   margin-bottom: 20px;
}
.story-left h1{
    width: 650px;
    font-family: var(--primary-font);
   font-size: 8rem; 
   color: var(--text-color);
   margin-bottom: 30px;
   font-weight: 500;
}
.story-left h1 .story-span{
    font-family: var(--secondary-font);
    font-weight: 500;
    font-style: italic;
}
.story-left p{
    width: 650px;
    font-size: 2.3rem; 
    color: var(--text-color);
    margin-bottom: 25px;
    font-family: var(--primary-font);
}
.story-right{
    margin-top: 100px;
    position: relative;
}
.story-right img{
    width: 440px;
    height: 550px;
    transform: rotate(2deg);
    border-radius: 2px;
    /* box-shadow: 40px 20px wheat; */
    
}
.story-right::after{
    content: "";
    position: absolute;
    background-color: wheat;
    width: 440px;
    height: 520px;
    border-radius: 0px 0px 10px 10px;
    left: 35px;
    top: 60px;
    transform: rotate(-2deg);
    z-index: -1;
}


/* <!-- story section end --> */

/* Menu Section Start0 */
.menu-section{
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(auto-fit, 400px);
    grid-row-gap: 20px;
    justify-content: space-evenly;
    grid-column-gap: 10px;
    /* align-items: center; */
    text-align: center;
    
}
    

.menue-left{
    text-align: center;
    
}

.menu-left h3{
    font-family: var(--primary-font);
   font-size: 1.5rem; 
   background-color: wheat;
   display: inline;
   padding: 4px 15px;
   border-radius: 50px;
   color: var(--text-color);
}

.menu-left h2{
    margin: auto;
    font-family: var(--primary-font);
    font-size: 8rem; 
    color: var(--text-color);
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 500;
    text-align: center;
}

.menu-left .menu-span{
    font-family: var(--secondary-font);
    font-weight: 500;
    font-style: italic;
}

.menu-left p{
    margin: auto;
    width: 720px;
    font-size: 2.5rem; 
    font-family: var(--primary-font);
    color: var(--text-color);
    margin-bottom: 40px;
    text-align: center;
    
}
.menu-items{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    column-gap: 35px;
    text-align: left;
}
.menu-section img{
    width: 400px;
    height: 550px;
    border-radius: 4px;
   }
.menu-items h3{
    font-family: var(--secondary-font);
    font-style: italic;
    font-size: 1.9rem; 
    color: var(--text-color);
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 500;
   
}
.menu-items p{
    font-family: var(--primary-font);
    font-size: 1.8rem; 
    color: var(--text-color);
    margin-bottom: 20px;
    font-weight: 400;
   
}

/* Menu Section end */





/* <!-- location section start --> */


.location-section{
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 50%;
    gap: 100px;
    padding: 0px 10px;
    flex-wrap: wrap;
}

.location-left{
    margin-top: 100px;
    position: relative;
}
.location-left img{
    width: 400px;
    height: 500px;
    transform: rotate(-2deg);
    border-radius: 2px;
    /* box-shadow: 40px 20px wheat; */
    
}
.location-left::after{
    content: "";
    position: absolute;
    background-color: wheat;
    width: 400px;
    height: 500px;
    border-radius: 0px 0px 10px 10px;
    left: 10px;
    top: 20px;
    transform: rotate(3deg);
    z-index: -1;
}

.location-right{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.location-right h3{
    margin-top: 130px;
font-family: var(--primary-font);
   font-size: 1.5rem; 
   background-color: wheat;
   display: inline;
   padding: 5px 20px;
   border-radius: 50px;
   color: var(--text-color);
   margin-bottom: 20px;
}
.location-right h1{
    width: 300px;
    font-family: var(--primary-font);
   font-size: 8rem; 
   color: var(--text-color);
   margin-bottom: 30px;
   font-weight: 550;
}
.location-right h1 .hero-span{
    font-family: var(--secondary-font);
    font-weight: 550;
    font-style: italic;
}
.location-right p{
    width: 600px;
    font-size: 2.3rem; 
    color: var(--text-color);
    margin-bottom: 35px;
    font-family: var(--primary-font);
}


/* <!-- location section end --> */


/* Experiance Section Start */
.experiance{
    width: 100%;
    height: 650px;
    background-color: #004233;
    margin-top: 120px;
}
.experiance-section{
max-width: 1280px;
    margin: auto;
}

.experiance-section h4{
    text-align: center;
    font-family: var(--primary-font);
    font-size: 5rem;
    padding-top: 80px;
    color: rgb(255, 243, 243);
    font-weight: 600;
}
.experiance-section h5{
    text-align: center;
    font-family: var(--secondary-font);
    font-style: italic;
    font-size: 4.8rem;
    color: wheat;
    font-weight: 500;
    margin-bottom: 20px;
}
.experiance-group{
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    column-gap: 30px;
    margin-top: 80px;
    justify-content: center;
}
.experiance-group img{
    width: 60px;
    margin-bottom: 30px;
}
.experiance-group h3{
    text-align: left;
    font-family: var(--secondary-font);
    font-style: italic;
    font-size: 2.8rem;
    color: rgb(236, 223, 223);
    font-weight: 500;
    margin-bottom: 20px;
}
.experiance-group p{
    text-align: left;
    font-family: var(--secondary-font);
    font-style: italic;
    font-size: 1.8rem;
    color: rgb(236, 223, 223);
    font-weight: 500;
    margin-bottom: 20px;
}



/* Experiance Section End */


/* ask section start */





/* ask section end */

.ask-section{
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-template-rows: repeat(auto-fit, 400px);
    grid-row-gap: 20px;
    justify-content: space-evenly;
    grid-column-gap: 10px;
    /* align-items: center; */
    text-align: center;
    margin-bottom: 100px;
}
    

.ask-top{
    text-align: center;
    
}

.ask-top h3{
    font-family: var(--primary-font);
   font-size: 1.5rem; 
   background-color: wheat;
   display: inline;
   padding: 4px 15px;
   border-radius: 50px;
   color: var(--text-color);
}

.ask-top h2{
    margin: auto;
    font-family: var(--primary-font);
    font-size: 8rem; 
    color: var(--text-color);
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 500;
    text-align: center;
}

.ask-top .ask-span{
    font-family: var(--secondary-font);
    font-weight: 500;
    font-style: italic;
}

.ask-top{
    margin: auto;
    width: 1000px;
    font-size: 2.5rem; 
    font-family: var(--primary-font);
    color: var(--text-color);
    margin-bottom: 40px;
    text-align: center;
  }
  .ask-bottom{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 100px;
    line-height: 50px;
    margin-top: 50px;
  }

  .ask-bottom h3{
    font-size: 2.8rem;
    font-family: var(--secondary-font);
    font-weight: 400;
    font-style: italic;
    color: var(--text-color);
  }
  .ask-bottom p{
    font-size: 2.4rem;
    font-family: var(--primary-font);
    font-weight: 400;
    color: var(--text-color);
    position: relative;

  }

.ask-bottom p::after{
    content: "";
    position: absolute;
    width: 1440px;
    border: 1px solid var(--text-color);
    left: 0;
    top: 150px;
   
}



/* <!-- Footer Section Start --> */
.footer{
    width: 100%;
    height: 600px;
    background-color: #004233;
    
}
.footer-section{
    margin: auto;
    width: 1280px;
    display: flex;
    flex-direction: column;
}
.footer-top{
    /* margin: auto; */
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.footer-top h5{
    font-family: var(--primary-font);
   font-size: 4rem; 
   color: wheat;
}
.footer-top h5 span{
    font-family: var(--secondary-font);
    font-size: 4rem; 
   color: wheat;
   font-style: italic;
}
.footer-middle{
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px 250px 250px 500px);
    margin-bottom: 80px;
}
.footer-middle-one{
    display: flex;
    gap: 25px;
    align-items:flex-start;
    text-align: center;
    font-family: var(--primary-font);
   font-size: 1.6rem; 

}
.footer-middle-one h3{
    color: white;

}
.footer-middle-two{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: var(--primary-font);
   font-size: 1.2rem; 
}
.footer-middle-two h4{
    margin-bottom: 20px;
    font-family: var(--primary-font);
    font-size: 1.5rem; 
}
.footer-middle-two a:nth-child(2){
    color: wheat;
}

.footer-middle-two h4{
    color: white;
}
.footer-middle-two a{
    color: white;
}
.footer-middle-three{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: -100px;
}
.footer-middle-three h4{
    color: white;
    font-family: var(--primary-font);
    font-size: 1.5rem; 
}
.footer-middle-three a:nth-child(2){
    margin-top: 20px;
}
.footer-middle-three a{
    color: white;
}

.footer-middle-four{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 50px;
}
.footer-middle-four h4{
    color: white;
    font-family: var(--primary-font);
    font-size: 1.5rem; 
}
.footer-middle-four h5{
    color: white;
    font-family: var(--primary-font);
    font-size: 1.2rem; 
}
.footer-middle-four input{
background:none;
width: 300px;
height: 40px;
border-color: white;
color: wheat;
padding: 0px 20px;
align-items: center;
margin-right: 20px;
}
.footer-middle-four button{
   background-color: wheat;
   padding: 10px 20px; 
   border-radius: 8px;
}
.footer-middle-four p{
    color: white;
    font-family: var(--primary-font);
    font-size: 1.2rem;  
}


.footer-bottom{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 70px;
    
}
.footer-bottom h3{
    color: white;
    font-size: 1.5rem;
}

@media(max-width: 768px){


    /* Hero Section Start */
    
    .hero-section{
        margin: auto;
        max-width: 768px;
        display: flex;
        flex-wrap: wrap;
    }
    
    
    /* Hero Section End */



    .celebration-section{
        max-width: 700px;
    }
    .celebration-section::before{
        width: 700px;
    }
    .celebration-container p{
        font-size: 1.4rem; 
        
    }
    

    .menu-section{
        margin: auto;
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 400px);
        grid-column-gap: 50px;
        justify-content: space-evenly;
        grid-column-gap: 10px;
        align-items: center;
        text-align: center;
    } 
    .menu-left{
        text-align: center;
        margin-bottom: 50px;
    }
    .menu-left p{
        text-align: center;
    }
    .menue-left-container{
        position: none;
    }
    .experiance{
        width: 100%;
        height: 1050px;
        background-color: #004233;
        margin-top: 120px;
    }
    .experiance-section{
        max-width: 768px;
    }
    .experiance-group{
        text-align: center;
        gap: 20px;
    }
    .experiance-group h3{
        text-align: center;
    }
    .experiance-group p{
        text-align: center;
    }
    .comment-section{
    
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .comment-left img{
        width: 450px;
    }
    .comment-left::after{
        width: 450px; 
    }
    .comment-right{
        align-items: center;
        text-align: center;
        margin-top: -150px;
    }
    .comment-right h3{
       margin-bottom: 20px;
    }
    .comment-right p{
        width: 600px;
       font-size: 1.6rem;  
    }

    .footer{
               max-width: 768px;
        text-align: center;
        align-items: center;
    }
    .footer-section{
        max-width: 768px;
        display: flex;
        flex-direction: column;
        padding: 0px 40px;
    }
    .footer-top h5{
        font-size: 3rem;  
    }
    .footer-middle{
        display: grid;
        grid-template-columns: repeat(4, 100px 100px 100px 460px);
        margin-bottom: 50px;
        column-gap: 20px;
    }
    .footer-middle-one{
        display: inline;
    }
    .footer-middle-two{
        text-align: left;
    }
    .footer-middle-four{
        margin-left: -50px;
        text-align: left; 
    }
    .footer-middle-four input{
        width: 200px;
    }
    .footer-middle-four p{
        width: 400px;
    }
    .footer{
        align-items: center;
        gap: 10px;
    }
    .footer-bottom h3{
        font-size: 1.2rem;
    }
    .menue-left-container{
        content: "";
        position: absolute;
        top: -400px;
       
    }
    .celebration{
        margin-bottom: 600px;
    }
}
@media(max-width: 390px){
    
    
    
    .comment-section{
    
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .comment-left img{
        width: 300px;
        height: 450px;
    }
    .comment-left::after{
        width: 300px; 
        height: 450px;
    }
    .comment-right{
        margin-top: -250px;
    }
    .comment-right h3{
       margin-bottom: 15px;
    }
    .comment-right p{
        width: 350px;
       font-size: 1.2rem;
    }

    .footer{
        margin-top: 2450px;
        max-width: 390px;
    }
    .footer-section{
        max-width: 390px;
        display: flex;
        flex-direction: column;
        padding: 0px 5px;

    }
    .footer-top{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .footer-top h5{
        font-size: 2rem;
        align-items: center; 
        margin-left: 20px; 
    }
    .footer-top button{
      margin-left: 50%;
    }
    .footer-middle{
        display: grid;
        grid-template-columns: repeat(4, 100px 100px 100px 400px);
        margin-bottom: 50px;
        column-gap: 50px; 
    }
    .footer-bottom{
        gap: 10px;
        padding: 0px 10px;
    }
    .footer-bottom h3{
        font-size: 1rem;
    }
    .menu-left{
        position: relative;
    }
    .menue-left-container{
        content: "";
        position: absolute;
        top: -400px;
       
    }
    .celebration{
        margin-bottom: 500px;
    }

    .celebration-section{
        max-width: 370px;
    }
    .celebration-section::before{
        width: 370px;
    }
    .celebration-container h3{
        font-size: 1.5rem;
        text-align: center;
        padding: 5px 30px;
        margin-top: -50px;
    }
    .celebration-container h2{
        font-size: 4rem;
        width: 390px; 
        text-align: center;
    }
    .celebration-container p{
        font-size: 1.4rem;
        width: 350px; 
    }
    .celebration-container button{
        margin-top: -10px;
    }

}