@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
html{
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Libre Baskerville", serif;
    --text-color: rgb(99, 76, 0);
    font-size: 10px;
}
body{
    font-family: "Inter", sans-serif;
    /* transition: all 2s ease; */
}
a{
    text-decoration: none;
}
.container{
    max-width: 1440px;
    margin: auto;
}

.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo h2{
    font-size: 2rem;
    color: var(--text-color);
    font-weight:bold;
}
.header{
    margin: auto;
    max-width: 1280px;
    height: 100px;
    margin-top: 30px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
nav{
    display: flex;
    gap: 30px;
}
nav a{
    font-family: var(--primary-font);
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight:550;

}
.primary-btn{
    width: 150px;
    height: 50px;
    background-color: var(--text-color);
    color: white;
    border-radius: 4px;
    box-shadow: 8px 8px wheat;
    box-shadow: wheat;
    border-style: none;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--primary-font);
}
.primary-btn:hover{
    box-shadow: -8px -8px wheat;
    box-shadow: wheat;
    cursor: pointer;
}
/* Header Section End */

main{
    background-image: url(assets/image/image4.webp);
    height: 4000px;
}

/* catering section start */
.cater-section{
    margin: auto;
    max-width: 1440px;
    text-align: center;
    text-align: center;
}
.cater-section h1{
    width: 400px;
    margin: auto;
    font-size: 6.5rem;
    color: var(--text-color);
    font-family: var(--primary-font);
    font-weight: 500;
    margin-bottom: 25px;
}
.cater-section h1 span{
    width: 700px;
    margin: auto;
    font-size: 4.5rem;
    font-family: var(--secondary-font); 
    font-style: italic;
    color: var(--text-color);
}
.cater-section p{
    width: 700px;
    margin: auto;
    font-size: 2.7rem;
    (--primary-font);
    color: var(--text-color);
}

/* catering section end */













/* Hero Section Start */
.hero-section{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    flex-basis: 50%;
    gap: 100px;
    padding: 0px 10px;
}
.hero-left{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.hero-left h3{
   margin-top: 130px;
    font-family: var(--primary-font);
   font-size: 1.5rem; 
   background-color: wheat;
   display: inline;
   padding: 5px 20px;
   border-radius: 50px;
   color: var(--text-color);
   margin-bottom: 20px;
}
.hero-left h1{
    width: 600px;
    font-family: var(--primary-font);
   font-size: 6rem; 
   color: var(--text-color);
   margin-bottom: 30px;
   font-weight: 500;
}
.hero-left h1 .hero-span{
    font-family: var(--secondary-font);
    font-weight: 500;
    font-style: italic;
}
.hero-left p{
    width: 600px;
    font-size: 2.1rem; 
    color: var(--text-color);
    margin-bottom: 25px;
    font-family: var(--primary-font);
    margin-bottom: 40px;
}
.hero-left ul li{
    width: 600px;
    font-size: 1.8rem; 
    color: var(--text-color);
    margin-bottom: 25px;
    font-family: var(--primary-font);
    line-height: 2px; 
}








.hero-right{
    margin-top: 100px;
    position: relative;
}
/* .hero-right img:nth-child(1){
    width: 450px;
    height: 600px;
    background-color: wheat;
} */
.hero-right img{
    width: 400px;
    height: 550px;
    transform: rotate(5deg);
    border-radius: 2px;
    /* box-shadow: 40px 20px wheat; */
    
}
.hero-right::after{
    content: "";
    position: absolute;
    background-color: wheat;
    width: 420px;
    height: 550px;
    border-radius: 0px 0px 10px 10px;
    left: 0px;
    top: -2px;
    transform: rotate(-4deg);
    z-index: -1;
}


/* Hero Section End */





/* Celebration Section Start */

.celebration-section{
    margin: auto;
    margin-top: 150px;
    margin-bottom: 200px;
    max-width: 950px;
    height: 450px;
    background-image: url(assets/image/contact\ image\ 2.avif);
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    transform: rotate(2deg);
    position: relative;
    box-shadow: 20px 20px wheat;
}
.celebration-section::before{
    content: "";
    position: absolute;
    background-color: #0d4730;
    width: 950px;
    height: 450px;
    border-radius: 15px;
    opacity: 65%;
    z-index: -1;
}
.celebration-container{
    margin: auto;
    padding: 100px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    
}
.celebration-container h3{
    font-family: var(--primary-font);
   font-size: 1.8rem; 
   background-color: wheat;
   display: inline;
   padding: 6px 15px;
   border-radius: 50px;
   color: var(--text-color);
   margin-bottom: 50px;  
}


.celebration-container p{
    font-size: 2rem; 
    font-family: var(--primary-font);
    color: white;
    margin-bottom: 40px;
    text-align: center;
}

.celebration-container h4{
    font-size: 2.3rem; 
    font-family: var(--primary-font);
    color: white;
    margin-bottom: 40px;
    text-align: center;
}

/* Celebration Section end */


/* comment section start */

.comment-section{
    margin: auto;
    margin-top: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 50%;
    gap: 70px;
    padding: 0px 10px;
}

.comment-left img{
    width: 530px;
    height: 650px;
    transform: rotate(-4deg);
    border-radius: 8px;
    position: relative;
}
.comment-left{
    position: relative;
}
.comment-left::after{
    content: "";
    position: absolute;
    background-color: wheat;
    width: 530px;
    height: 650px;
    border-radius: 10px 10px 10px 10px;
    left: 0px;
    top: 0px;
    transform: rotate(8deg);
    z-index: -1;
}




.comment-right{
    display: flex;
    flex-direction: column;
    align-items: left;

}

.comment-right h3{
    width: 250px;
    margin-top: 100px;
    font-family: var(--primary-font);
   font-size: 1.5rem; 
   background-color: wheat;
   display: inline;
   padding: 5px 20px;
   border-radius: 50px;
   color: var(--text-color);
   margin-bottom: 30px;
}
.comment-right h4{
    width: 450px;
    font-family: var(--primary-font);
   font-size: 6.5rem; 
   color: var(--text-color);
   margin-bottom: 30px;
   font-weight: 500;
}
.comment-right h4 span{
    width: 450px;
    font-family: var(--secondary-font);
   font-size: 6rem; 
   color: var(--text-color);
   margin-bottom: 30px;
   font-weight: 500;
}


.comment-right p{
    width: 420px;
    font-family: var(--secondary-font);
   font-size: 2rem; 
   color: var(--text-color);
   margin-bottom: 30px;
   line-height: 35px;
}


/* comment section end */



/* form Section Start */
.form-section{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
    gap: 100px;
    padding: 0px 10px;
}
.form-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-left h3{
   margin-top: 130px;
    font-family: var(--primary-font);
   font-size: 1.5rem; 
   background-color: wheat;
   display: inline;
   padding: 5px 20px;
   border-radius: 50px;
   color: var(--text-color);
   margin-bottom: 20px;
}
.form-left h2{
    width: 300px;
    font-family: var(--primary-font);
   font-size: 4rem; 
   color: var(--text-color);
   margin-bottom: 70px;
   font-weight: 600;
   position: relative;
   text-align: center;
}

.form-left h2 .form-span{
    font-family: var(--secondary-font);
    font-weight: 600;
    font-style: italic;
    width: 500px;
    font-size: 2.9rem;
}




.form-right{
    margin-top: -100px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    
    
}
.form-right label{
    display: block;
    text-align: left;
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: var(--primary-font);
    color: var(--text-color);
    
}
.form-right input{
    display: block;
    width: 100%;
    /* text-align:left; */
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    font-family: var(--primary-font);
}
.form-right textarea{
    border-radius: 8px;
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
}

.form-btn{
    padding: 50px;
    margin-top: 50px;
    max-width: 200px;
    background-color: var(--text-color);
    color: white;
    font-size: 2rem;
    margin: auto;
   
}

/* form section end */

/* <!-- Footer Section Start --> */
.footer{
    margin-top: -650px;
    width: 100%;
    height: 600px;
    background-color: #004233;
}
.footer-section{
    margin: auto;
    width: 1280px;
    display: flex;
    flex-direction: column;
}
.footer-top{
    /* margin: auto; */
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.footer-top h5{
    font-family: var(--primary-font);
   font-size: 4rem; 
   color: wheat;
}
.footer-top h5 span{
    font-family: var(--secondary-font);
    font-size: 4rem; 
   color: wheat;
   font-style: italic;
}
.footer-middle{
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px 250px 250px 500px);
    margin-bottom: 80px;
}
.footer-middle-one{
    display: flex;
    gap: 25px;
    align-items:flex-start;
    text-align: center;
    font-family: var(--primary-font);
   font-size: 1.6rem; 

}
.footer-middle-one h3{
    color: white;

}
.footer-middle-two{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: var(--primary-font);
   font-size: 1.2rem; 
}
.footer-middle-two h4{
    margin-bottom: 20px;
    font-family: var(--primary-font);
    font-size: 1.5rem; 
}
.footer-middle-two a:nth-child(2){
    color: wheat;
}

.footer-middle-two h4{
    color: white;
}
.footer-middle-two a{
    color: white;
}
.footer-middle-three{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: -100px;
}
.footer-middle-three h4{
    color: white;
    font-family: var(--primary-font);
    font-size: 1.5rem; 
}
.footer-middle-three a:nth-child(2){
    margin-top: 20px;
}
.footer-middle-three a{
    color: white;
}

.footer-middle-four{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 50px;
}
.footer-middle-four h4{
    color: white;
    font-family: var(--primary-font);
    font-size: 1.5rem; 
}
.footer-middle-four h5{
    color: white;
    font-family: var(--primary-font);
    font-size: 1.2rem; 
}
.footer-middle-four input{
background:none;
width: 300px;
height: 40px;
border-color: white;
color: wheat;
padding: 0px 20px;
align-items: center;
margin-right: 20px;
}
.footer-middle-four button{
   background-color: wheat;
   padding: 10px 20px; 
   border-radius: 8px;
}
.footer-middle-four p{
    color: white;
    font-family: var(--primary-font);
    font-size: 1.2rem;  
}


.footer-bottom{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 70px;
    
}
.footer-bottom h3{
    color: white;
    font-size: 1.5rem;
}

@media(max-width: 768px){


    /* Hero Section Start */
    
    .hero-section{
        margin: auto;
        max-width: 768px;
        display: flex;
        flex-wrap: wrap;
    }
    
    
    /* Hero Section End */



    .celebration-section{
        max-width: 700px;
    }
    .celebration-section::before{
        width: 700px;
    }
    .celebration-container p{
        font-size: 1.4rem; 
        
    }
    

    .menu-section{
        margin: auto;
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 400px);
        grid-column-gap: 50px;
        justify-content: space-evenly;
        grid-column-gap: 10px;
        align-items: center;
        text-align: center;
    } 
    .menu-left{
        text-align: center;
        margin-bottom: 50px;
    }
    .menu-left p{
        text-align: center;
    }
    .menue-left-container{
        position: none;
    }
    .experiance{
        width: 100%;
        height: 1050px;
        background-color: #004233;
        margin-top: 120px;
    }
    .experiance-section{
        max-width: 768px;
    }
    .experiance-group{
        text-align: center;
        gap: 20px;
    }
    .experiance-group h3{
        text-align: center;
    }
    .experiance-group p{
        text-align: center;
    }
    .comment-section{
    
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .comment-left img{
        width: 450px;
    }
    .comment-left::after{
        width: 450px; 
    }
    .comment-right{
        align-items: center;
        text-align: center;
        margin-top: -150px;
    }
    .comment-right h3{
       margin-bottom: 20px;
    }
    .comment-right p{
        width: 600px;
       font-size: 1.6rem;  
    }

    .footer{
        margin-top: 2800px;
        max-width: 768px;
        text-align: center;
        align-items: center;
    }
    .footer-section{
        max-width: 768px;
        display: flex;
        flex-direction: column;
        padding: 0px 40px;
    }
    .footer-top h5{
        font-size: 3rem;  
    }
    .footer-middle{
        display: grid;
        grid-template-columns: repeat(4, 100px 100px 100px 460px);
        margin-bottom: 50px;
        column-gap: 20px;
    }
    .footer-middle-one{
        display: inline;
    }
    .footer-middle-two{
        text-align: left;
    }
    .footer-middle-four{
        margin-left: -50px;
        text-align: left; 
    }
    .footer-middle-four input{
        width: 200px;
    }
    .footer-middle-four p{
        width: 400px;
    }
    .footer{
        align-items: center;
        gap: 10px;
    }
    .footer-bottom h3{
        font-size: 1.2rem;
    }
    .menue-left-container{
        content: "";
        position: absolute;
        top: -400px;
       
    }
    .celebration{
        margin-bottom: 600px;
    }
}
@media(max-width: 390px){
    
    
    
    .comment-section{
    
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .comment-left img{
        width: 300px;
        height: 450px;
    }
    .comment-left::after{
        width: 300px; 
        height: 450px;
    }
    .comment-right{
        margin-top: -250px;
    }
    .comment-right h3{
       margin-bottom: 15px;
    }
    .comment-right p{
        width: 350px;
       font-size: 1.2rem;
    }

    .footer{
        margin-top: 2450px;
        max-width: 390px;
    }
    .footer-section{
        max-width: 390px;
        display: flex;
        flex-direction: column;
        padding: 0px 5px;

    }
    .footer-top{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .footer-top h5{
        font-size: 2rem;
        align-items: center; 
        margin-left: 20px; 
    }
    .footer-top button{
      margin-left: 50%;
    }
    .footer-middle{
        display: grid;
        grid-template-columns: repeat(4, 100px 100px 100px 400px);
        margin-bottom: 50px;
        column-gap: 50px; 
    }
    .footer-bottom{
        gap: 10px;
        padding: 0px 10px;
    }
    .footer-bottom h3{
        font-size: 1rem;
    }
    .menu-left{
        position: relative;
    }
    .menue-left-container{
        content: "";
        position: absolute;
        top: -400px;
       
    }
    .celebration{
        margin-bottom: 500px;
    }

    .celebration-section{
        max-width: 370px;
    }
    .celebration-section::before{
        width: 370px;
    }
    .celebration-container h3{
        font-size: 1.5rem;
        text-align: center;
        padding: 5px 30px;
        margin-top: -50px;
    }
    .celebration-container h2{
        font-size: 4rem;
        width: 390px; 
        text-align: center;
    }
    .celebration-container p{
        font-size: 1.4rem;
        width: 350px; 
    }
    .celebration-container button{
        margin-top: -10px;
    }

}